/*@import "compass/css3";*/
/* line 3, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../scss/style.scss */
html,
body {
  background-color: #000;
}


/*a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:top}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
a, a:link, a:visited { color: inherit; text-decoration: inherit; }*/



.keyart, .keyart_layer{
  height: 1000px;
}

#parallax{
  display: block;
  scroll-behavior: smooth;
}

.keyart {
  position: relative;
  z-index: 10;
}

/* line 25, ../scss/style.scss */
.keyart_layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.keyart_layer.parallax{
  position: fixed;
}


#keyart-1 {
  background-color: #000;
  background-image: url(../montanha.jpg);
}

#keyart-2{
  position: absolute;
  font-family: serif;
  text-align: center;
  color: #fff;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  z-index: 97;
}

#keyart-3 {
  background-image: url(../pinheiros.png);
}

#keyart-scrim {
  background-color: #ffaf00;
    opacity: 0;
}


.our-work__name {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.8rem;
  padding-left: 10%;
  padding-top: 5%;
  position: relative;
}

.our-work__desc {
  margin-top: 5%;
}
.our-work__desc li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: right;
  padding-right: 10%;
  line-height: 50px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1rem;
}


.teste{
  background-color: #000;
  color: #FFF;
  height: 100px;
  position: relative;
  z-index: 98;
}

#maincontain {
  background-color: #000;
  position: relative;
  z-index: 98;
}

#main {
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
  position: relative;
  background-color: #210002;
}

